@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin&family=Source+Code+Pro&display=swap');

.plate {
    font-family: 'Source Code Pro', monospace;
    width: 1000px;
    background: #FC6D00;
    margin-bottom: 50px;
    border: outset #C02700 25px;
    display: inline-block;
    margin-right: 50px;
}

.plate_info {
    height: 100px;
}

.plate_icon {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    border: outset white 4px;
}

.plate_name {
    font-size: xx-large;
    position: absolute;
    margin-left: 108px;
    margin-top: 8px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.plate_address {
    font-size: larger;
    position: absolute;
    margin-left: 108px;
    margin-top: 44px;
    color: white;
}

.plate_address:hover {
    background: white;
    color: black;
}

.plate_pressed_at {
    font-size: larger;
    position: absolute;
    margin-left: 108px;
    margin-top: 64px;
    color: #FCC700;
}

.plate_pressed_by {
    height: 60px;
}

.plate_pressed_by_icon {
    position: absolute;
    margin-top: 0px;
    margin-left: 8px;
    border: outset white 4px;
}

.plate_pressed_by_label {
    font-size: medium;
    position: absolute;
    margin-left: 76px;
    margin-top: 4px;
    color: #FCC700;
}

.plate_pressed_by_address {
    font-size: large;
    position: absolute;
    margin-left: 76px;
    margin-top: 20px;
    color: white;
}

.plate_pressed_by_address:hover {
    background: white;
    color: black;
}
